.Main-Home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 88dvh;
    width: 100%;
    gap: -5rem;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding: 1em 2em;
    gap: 3rem;
}

.heading {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    font-size: 200px;
}

.second {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.ampersand-img {
    height: 160px;
}

.Artwork {
    display: flex;
    justify-content: center;
    align-items: self-end;
    position: absolute;
    left: 20px;
    top: 10px;
}

.Artwork .circular-text-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinCircle 8s linear infinite;
}

@keyframes spinCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.MyDescription {
    text-align: right;
    padding: 1rem 2rem;
    width: 200px;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    
    to{
        transform: translateY(-15px);
    }
}

@media(max-width: 1024px) {
    .Home {
        transform: scale(0.7);
    }


    .Artwork {
        transform: translateY(360px);
    }
}

@media(max-width:786px){
    .Home {
        transform: scale(0.3);
    }
}