.Connect{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 88dvh;
    gap: 5rem;
}

.connect-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    gap: 2rem;
}

.connect-header,.section-info,.copyright{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 0rem;
}

.connect-heading{
    font-size: 84px;
    color: #0F5C6D;
}

.connect-message{
    font-size: 24px;
}

.section-info{
    gap: 1rem;
}

.icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.icon-info img{
    width: 24px;
}

.icon-info a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.qrcode{
    height: 200px;
}

.developerInfo img{
    width: 20px;
}

@media(max-width:786px){

    .Connect{
        gap: 0rem;
        flex-direction: column;
    }

    .connect-info{
        padding-left: 0.5rem;
        gap: 0.5rem;
    }

    .connect-header,.section-info,.copyright{
        font-size: 8px;
    }

    .connect-heading{
        font-size: 48px;
    }
    
    .connect-message{
        font-size: 18px;
    }

    .icon-info img{
        width: 18px;
    }
    
    .icon-info a{
        font-size: 16px;
    }
    .qrcode{
        height: 100px;
    }
    .developerInfo img{
        width: 4px;
    }
    .caricreature{
        width: 100px;
    }

}