.Connect{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 88dvh;
    gap: 5rem;
}

.connect-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    gap: 2rem;
}

.connect-header,.section-info,.copyright{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 0rem;
}

.connect-heading{
    font-size: 120px;
    color: #0F5C6D;
}

.connect-message{
    font-size: 36px;
}

.section-info{
    gap: 1rem;
}

.icon-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.icon-info img{
    width: 36px;
}

.icon-info span{
    font-size: 24px;
}

.qrcode{
    height: 200px;
}